
  <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <span><%= image_tag 'arrow_top.png' %></span>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>タイトル : <%= blog.title %></p>
          <p>本文 : <%= blog.text %></p>
           <p>ユーザー : <%= blog.user.nickname %></p>
        </div>
        <div class="card-action">
          <ul class="more_list">
          <li>
            <%= link_to "詳細", blog_path(blog.id), method: :get %>
          </li>
          <% if user_signed_in? && current_user.id == blog.user_id %>
            <li>
              <%= link_to '編集', "/blogs/#{blog.id}/edit", method: :get %>
            </li>
            <li>
          <%= button_to '削除', "/blogs/#{blog.id}", method: :delete %>
            </li>
          <% end %>
        </ul>
        </div>
      </div>
    </div>
  </div>