
    <!-- <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/office.jpg">
    </div>
    <div class="card-content">
      <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.text %></td>
    </tr>
  <% end %>
      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right"><%= blog.user.nickname %></i></span>
      <p><a href="#">This is a link</a></p>
      <li><%= link_to "詳細", "/blogs/#{blog.id}", method: :get %></li>
      <p><%= link_to '編集', "/blogs/#{blog.id}/edit", method: :get %></p>
      <p><%= link_to '削除', "/blogs/#{blog.id}", method: :delete %></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Card Title</span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div> -->

  <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <!-- <img src="https://lorempixel.com/100/190/nature/6"> -->
        <span><%= image_tag 'arrow_top.png' %></span>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><%= blog.title %></p>
          <p><%= blog.text %></p>
        </div>
        <div class="card-action">
          <!-- <a href="#">This is a link</a>
          <a href="#">This is a link</a>
          <a href="#">This is a link</a> -->
          <ul class="more_list">
          <li>
            <%= link_to "詳細", blog_path(blog.id), method: :get %>
          </li>
          <% if user_signed_in? && current_user.id == blog.user_id %>
            <li>
              <%= link_to '編集', "/blogs/#{blog.id}/edit", method: :get %>
            </li>
            <li>
          <%= button_to '削除', "/blogs/#{blog.id}", method: :delete %>
          
            </li>
          <% end %>
        </ul>
        </div>
      </div>
    </div>
  </div>