
  <div class="contents row">
<%= form_for(@blog) do |f| %>
      <h3>
        編集する
      </h3>
      <a>タイトル:<%= f.text_field :title %></a>
  <a>テキスト:<%= f.text_area :text %></a>
  <a>画像:<%= f.text_field :image %></a>

  <div class="actions">
     <%= f.submit "編集する" %>
   </div>
  <% end %>
    </div>
  
